# Python bytecode & caches
__pycache__/
*.py[cod]
.mypy_cache/
.pytest_cache/

# Virtual environments & local env files
.venv/
.env

# JavaScript tooling
node_modules/

# Datasets (downloaded locally)
data/

# Experiment outputs written by training runs
reports/
!reports/.gitkeep
!reports/**/.gitkeep
reports/**/wandb/
reports/**/latest

# Notebook artefacts
.ipynb_checkpoints/
*.nbconvert.ipynb

# Miscellaneous OS/editor files
.DS_Store
Thumbs.db
*.swp
